/* A COMPLETER */

.detournee{
  text-decoration-line: underline;
}

.contandante{
  font-weight: bold;
}

section > h2{
  color: red;
}

nav > ul > li{
  list-style-type: none;
}

section#armes li li{
  color: blue;
}

section#armes > ul > li{
  color: green;
}


section img{
  height: 1em;
}

aside img{
  width: 20vw;
}